body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.body {
}
/*-------------------HEADER------------------- */

.header {
  border: 1px;
  background-color: white;
}
.navigation {
}
.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-navigation {
}
.header-item {
}
.header-link-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-link-navigation:hover {
  color: #404bbf;
}
.header-link-navigation:focus {
  color: #404bbf;
}
.all-address {
  font-style: normal;
}
.address-navigarion {
}
.address-list {
}
.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}
/*-------------------MAIN---------------------- */
.hero {
}
.hero-first-section {
  background-color: #2e2f42;
}
.hero-first {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.button-hero {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.button-hero:hover {
  background: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.button-hero:focus {
  background: #4d5ae5;
  background-color: #404bbf;
  cursor: pointer;
}
.hero-second-section {
}
.hero-hidden {
}
.hero-list {
}
.hero-first-item {
}
.hero-first-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.hero-text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.hero-third-section {
  background: #f4f4fd;
}
.hero-team-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.hero-our-team-list {
}
.hero-second-item {
  background-color: #ffffff;
}

.hero-second-img {
}

.hero-four-section {
}

.hero-portfolio-list {
}
.hero-portfolio-item {
}
.hero-portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.hero-portfolio-img {
}
.hero-portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*-------------------FOOTER------------------- */

.footer {
  background: #2e2f42;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.studio-span-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
